@import url("//tmwxd.com.br/fontes/bebasneue/bebasneue.css");

* {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #122628;
}

#qLamp {
    color: #66e800;
    font: 40px BebasNeue, "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#qLamp .content {
    width: 305px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

#qLamp form {
    position: relative;
    width: 915px;
    margin: 0 auto;
    padding: 40px 0;
    transform: translateX(0);
    transition: all .5s
}

#qLamp .content .etapa {
    float: left;
    width: 305px;
}

/* Página Principal */
#qLamp p.first {
    color: #66e800;
    margin-bottom: 20px;
    padding-bottom: 7px;
    font: 76px BebasNeue, "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #66e800;
}

#qLamp p .big {
    display: block;
    font-size: 140px;
    height: 136px;
}

#qLamp p, #qLamp .msg label, #qLamp .pronto p {
    color: #fff;
    font: 30px Arial, Helvetica, sans-serif;
}

#qLamp .principal .text {
    cursor: pointer;
}

#qLamp .principal .imagem {
    background: url("img/ico-cam.png") no-repeat left top;
}

#qLamp .foto {
    display: block;
    width: 116px;
    height: 116px;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

#qLamp .text {
    position: absolute;
    left: 140px;
    top: 50%;
    margin-top: -18px;
    font-size: 30px;
}

#qLamp .principal .imagem {
    position: relative;
    margin: 50px 0;
}

/* Mensagem */
#qLamp .msg .campo {
    margin-bottom: 20px;
}

#qLamp .msg label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: left;
}

#qLamp .msg input, #qLamp .msg textarea {
    display: block;
    width: 100%;
    padding: 10px;
    background: transparent;
    color: #66e800;
    font-size: 16px;
    border: 1px solid #66e800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#qLamp .msg textarea {
    min-height: 100px;
}

#qLamp .msg button {
    padding: 12px 40px 8px;
    background-color: #66e800;
    color: #122628;
    font: 30px BebasNeue, "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 1px solid #66e800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background .2s;
}

#qLamp .msg button:hover {
    background-color: #122628;
    color: #66e800;
}

/* Página Final */
#qLamp .pronto p {
    line-height: 70px;
}

#qLamp .pronto .dif {
    display: block;
    color: #66e800;
    font-size: 36px;
    font-weight: bold;
}

#qLamp .pronto .voltar {
    display: block;
    width: 170px;
    margin: 50px auto 0;
    color: #66e800;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

#qLamp .pronto .voltar::before {
    content: '';
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto 15px;
    background: url("img/ico-voltar.png") no-repeat left top;
}

/* BREAKPOINTS */
/* Página Principal */
@media (max-width: 700px) {
    #qLamp p.first {
        margin-bottom: 50px;
        padding-bottom: 37px;
    }
}

@media (max-width: 420px) {
    #qLamp p.first {
        margin-bottom: 15px;
        padding-bottom: 0;
        font-size: 68px;
    }

    #qLamp p .big {
        height: 114px;
        font-size: 120px;
    }

    #qLamp form {
        height: 92px;
        padding: 20px 0;
    }

    #qLamp p.first {
        font-size: 60px;
    }

    #qLamp p .big {
        height: 100px;
        font-size: 106px;
    }

    #qLamp .principal p:not(.first) {
        font-size: 26px;
    }

    #qLamp .principal .imagem {
        margin: 20px 0 0;
        background-size: 32% auto;
    }

    #qLamp .text {
        left: 110px;
        margin-top: -21px;
        font-size: 26px;
    }

    #qLamp .pronto p {
        line-height: 70px;
        font-size: 22px;
    }
}